@model IEnumerable<ASM2.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<style>
    h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
        display: inline-block;
        padding: 8px 16px;
        border: 2px solid #007BFF;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
        margin-right: 10px;
    }

        a:hover {
            background-color: #007BFF;
            color: #fff;
        }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #007BFF;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .edit-link, .details-link, .delete-link {
        display: inline-block;
        padding: 8px 16px;
        margin-right: 5px;
        background-color: #007BFF;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .edit-link:hover, .details-link:hover, .delete-link:hover {
            background-color: #0056b3;
        }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@item.ImageUrl" width="250px" height="100%" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a class="edit-link" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="details-link" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="delete-link" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Back to main page</a>
</div>
